<form #newNewsForm="ngForm" (ngSubmit)="createNews(newNewsForm.value)">
    <div class="form-group">
        <label for="title">Title</label>
        <input #titleInput="ngModel" type="text" name="title" id="title" ngModel required>
        <div *ngIf="titleInput.touched && titleInput.errors?.required" class="validation-error">A title is required</div>
    </div>
    <div class="form-group">
        <label for="newsText">Text</label>
        <textarea #newsTextInput="ngModel" type="text" name="newsText" id="newsText" ngModel required minlength="300"></textarea>
        <div *ngIf="newsTextInput.touched && newsTextInput.errors?.required && newsTextInput.errors?.minlength" class="validation-error">Minimum requirement of 300 characters</div>
    </div>
    <button [disabled]="newNewsForm.invalid">Create</button>
</form>

{{newNewsForm.value | json}}
