<div *ngIf="newsDetail" class="news-detail-wrapper">
    <div *ngIf="!editMode">
        <h2>{{newsDetail.title}}</h2>
        <p class="news-content">{{newsDetail.content}}</p>
        <div class="author-info">
            <span class="news-category">Category: {{newsDetail.category}}</span>
            <span>
                <span class="news-date">Published date: {{newsDetail.createdOn | localDate }}</span>
                <span class="news-author">Author: {{newsDetail.createdBy.name}} {{newsDetail.createdBy.surname}}</span>
            </span>
        </div>
        <button *ngIf="(userId === newsDetail.createdById && userId) || this.userService.userRole == 'admin'"
            (click)="editMode = true" class="edit-news-btn">Edit</button>
    </div>
    <div *ngIf="editMode">
        <form #editNewsForm="ngForm" class="form-wrapper" (ngSubmit)="saveArticle(editNewsForm, newsDetail.id)">
            <div class="form-group">
                <div class="title-wrapper">
                    <div class="title">
                        <label for="title-wrapper">Title</label>
                        <input #titleInput="ngModel" type="text" name="title" id="title" [ngModel]="newsDetail.title"
                            required [minlength]="4">
                    </div>
                    <div>
                        <div *ngIf="titleInput.touched && titleInput.errors?.required" class="validation-error">A title
                            is
                            required</div>
                        <div *ngIf="titleInput.touched && titleInput.errors?.minlength" class="validation-error">Minimum
                            title length of 4 characters</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="category">
                    <label for="category-wrapper">Category</label>
                    <select #categoryInput="ngModel" name="category" id="category" class="filter-list" #option ngModel>
                        <option *ngFor="let category of categories">{{category.name}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="content-wrapper">
                    <div class="content">
                        <label for="newsText">Text</label>
                        <textarea #contentInput="ngModel" type="text" name="content" id="content"
                            [ngModel]="newsDetail.content" required minlength="300"></textarea>
                    </div>
                    <div *ngIf="contentInput.touched && contentInput.errors?.required || contentInput.errors?.minlength"
                        class="validation-error">Minimum requirement of 300 characters</div>
                </div>
            </div>
            <button [disabled]="editNewsForm.invalid" class="save-btn">Save</button>
            <button (click)="editMode = false" class="cancel-btn">Cancel</button>
        </form>
        <div>
            <button class="delete-article-btn" (click)="deleteNews(newsDetail.id)">Delete
                Article</button>
        </div>
    </div>
    <button *ngIf="userId" class="report-news-btn" (click)="reportNewsHandler(newsDetail.id, userId)">Report <i class="fas fa-flag"></i></button>
    <form class="comment-form" *ngIf="userId !== undefined && hasCommented === false" #commentForm="ngForm"
        (ngSubmit)="commentHandler(commentForm, newsDetail.id)">
        <div class="form-group">
            <textarea #commentInput="ngModel" type="text" name="comment" id="comment" placeholder="Leave a comment"
                ngModel required></textarea>
            <div *ngIf="commentInput.touched && commentInput.errors?.required" class="validator-error"></div>
        </div>
        <div>
            <button class="comment-btn"><i class="far fa-comment"></i> Comment</button>
        </div>
    </form>
    <div *ngIf="newsDetail.comments" class="news-comments">
        <div *ngFor="let comment of newsDetail.comments, let i = index">
            <div *ngIf="!commentEditMode" class="comment-wrapper">
                <h4>{{comment.authorName}} {{comment.authorSurname}}</h4>
                <p class="comment-content">{{comment.content}}</p>
                <span>Commented on: {{comment.createdOn | localDate}}</span>
                <button class="edit-comment-btn" *ngIf="(comment.authorId == userId)"
                    (click)="commentEditMode = true;toggl === i ? toggl = null : toggl = i">Edit</button>
                <button class="delete-comment-btn"
                    *ngIf="comment.authorId == userId  || this.userService.userRole =='admin'"
                    (click)="deleteComment(comment.id, newsDetail.id, userId)">Delete</button>
            </div>
            <div *ngIf="commentEditMode" class="comment-wrapper">
                <div *ngIf="toggl === i">
                    <textarea #commentEditedContent type="text" class="comment-content" id="comment"
                        [ngModel]="comment.content"></textarea>
                    <button class="save-btn"
                        (click)="saveComment(commentEditedContent.value, comment.id, newsDetail.id, userId);commentEditMode = false;toggl === i ? toggl = null : toggl = i">Save</button>
                    <button class="cancel-btn"
                        (click)="commentEditMode = false;toggl === i ? toggl = null : toggl = i">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!newsDetail">Please wait while we load this news article.</div>
    <button class="home-btn" type="button" routerLink="/recent-news">Back</button>
</div>