<div *ngIf="newsDetail">
    <p>{{newsDetail.title}}</p>
    <p>{{newsDetail.content}}</p>
    <p>{{newsDetail.createdOn}}</p>
    <p>{{newsDetail.createdBy.name}} {{newsDetail.createdBy.surname}}</p>

<div>
    <button *ngIf="userId === newsDetail.createdById && userId" (click)="deleteNews(newsDetail.id)">DELETE</button>
</div>
<form #commentForm="ngForm" (ngSubmit)="commentHandler(commentForm, newsDetail.id)">
    <div class="form-group">
        <textarea #commentInput="ngModel" type="text" name="comment" id="comment" placeholder="Leave a comment" ngModel required></textarea>
        <div *ngIf="commentInput.touched && commentInput.errors?.required" class="validator-error"></div>
    </div>
    <button>Add comment</button>
</form>
<div *ngIf="newsDetail.comments" class="news-comments">
    <div *ngFor="let comment of newsDetail.comments"></div>
</div>
<div *ngIf="!newsDetail">Please wait while we load this news article.</div>
<button type="button" routerLink="/recent-news">Back to recent news</button>
</div>
