<div *ngIf="newsDetail">
    <p>{{newsDetail.title}}</p>
    <p>{{newsDetail.context}}</p>
    <p>{{newsDetail.createdOn}}</p>
    <button [routerLink]="['/news-detail', newsDetail.id - 1]" *ngIf="newsDetail.id - 1 > 0">Previous</button>
    <button [routerLink]="['/news-detail', newsDetail.id + 1]" *ngIf="newsDetail.id + 1 <= totalNews">Next</button>
</div>
<div>
    <button (click)="deleteNews(newsDetail.id)">DELETE</button>
</div>
<div *ngif="newsDetail === undefined">Please wait while we load this news article.</div>
<button type="button" routerLink="/recent-news">Back to recent news</button>
