<article class="recent-news">
    <div class="filter-selection">
        <span class="filter-header">Category filter:</span>
        <select class="filter-list" #option>
            <option *ngFor="let category of categories">{{category.name}}
        </select>
        <button class="special-btn" (click)="addFilter()">Filter</button>
        <button class="special-btn" (click)="clearFilter()">Clear</button>
    </div>
    <h2>Recent news</h2>
    <div class="recent-news-list" *ngFor="let news of displayedData">
        <div class="news-cover-wrapper">
            <img src="../../assets/placeholder-image-300x225.png" alt="News cover" class="news-cover">
        </div>
        <div class="news-content">
            <div class="news-name">
                <a [routerLink]="['/news-detail', news?.id]" class="news-title">
                    <h3>
                        {{news.data.title}}
                    </h3>
                </a>
            </div>
            <div class="news-wrapper">
                <p class="news-text">
                    {{news.data.content | shorten : 100 }}
                </p>
                <p class="news-information">
                    <span class="date">Published date: {{news.data.createdOn | localDate }}</span>
                    <span class="author">Author: {{news.data.createdBy.name}} {{news.data.createdBy.surname}}</span>
                </p>
            </div>
        </div>
    </div>
    <app-pagination [allPagesNumber]="allPages" (changePage)="onPageChange($event,false)"></app-pagination>
    <div *ngIf="!news">Loading recent news,please wait.</div>
</article>