.messages-wrapper {
  margin:20px 0px;
}

.unread-message {
  background: lightskyblue;
}

.unread-message,
.read-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.mark-read,
.unread-btn,
.delete-btn {
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.delete-btn {
  background-color: darkred;
  color: white;
}

.mark-read {
  background-color: lightgray;
}
