.article-wrapper {
  text-decoration: none;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 22px;
  margin:10px 0px;
}

.article-header{
  font-size: 30px;
}

.article-content{
  border:1px solid black;
  margin:10px 0px;
}

.validation-error {
  color: red;
}

.save-btn,
.cancel-btn {
  height: 30px;
  width: 100px;
  margin: 10px 0px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 6px;
}

.save-btn {
  background-color: rgb(0, 180, 54);
  color: white;
}

.cancel-btn {
  background: darkred;
  color: white;
}

.set-profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.profile-key {
  border: 1px solid black;
  padding: 0px 20px;
}

.edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-wrapper {
  margin: 10px;
}

.comments-wrapper {
  font-family: Verdana, sans-serif;
  font-size:20px;
}
