<div *ngIf="userId" class="profile-wrapper">
    <div *ngIf="!editMode" class="set-profile-wrapper">
        <div class="profile-property-wrapper">
            <label for="name" class="profile-key">Name: </label>
            <p class="profile-value">{{userProfile.name}}</p>
        </div>
        <div class="profile-property-wrapper">
            <label for="surname" class="profile-key">Surname: </label>
            <p class="profile-value">{{userProfile.surname}}</p>
        </div>
        <div class="profile-property-wrapper">
            <label for="email" class="profile-key">Email: </label>
            <p class="profile-value">{{userProfile.email}}</p>
        </div>
        <button class="edit-profile-btn" (click)="editMode = true">Edit</button>
    </div>
    <div *ngIf="editMode" class="edit-wrapper">
        <div class="edit-property-wrapper">
            <label for="name" class="edit-key">Name: </label>
            <input class="edit-value" #profileName type="text" ngModel="{{userProfile.name}}">
        </div>
        <div class="edit-property-wrapper">
            <label for="surname" class="edit-key">Surname: </label>
            <input class="edit-value" #profileSurname type="text" ngModel="{{userProfile.surname}}">
        </div>
        <div class="edit-property-wrapper">
            <label for="email" class="edit-key">Email: </label>
            <input class="edit-value" #profileEmail type="email" ngModel="{{userProfile.email}}">
        </div>
        <button class="save-btn"
            (click)="saveProfile(profileName.value, profileSurname.value, profileEmail.value, userProfile.email, userId); editMode = false">Save</button>
        <button class="cancel-btn" (click)="editMode = false">Cancel</button>
    </div>
    <div *ngIf="userProfile.newsArticles" class="articles-wrapper">
        <h2 class="article-header">Your Articles:</h2>
        <div *ngFor="let article of userProfile.newsArticles" class="article-content">
            <a [routerLink]="['/news-detail', article.id]" class="article-wrapper">
                <div class="inner-article-wrapper">
                    <h3>{{article.title}}</h3>
                    <p>{{article.content}}</p>
                    <p class="article-info">
                        <span>Category: {{article.category}}</span>
                        <span>Published date: {{article.createdOn | localDate }}</span>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div *ngIf="userProfile.comments" class="comments-wrapper">
        <h2>Your Comments:</h2>
        <div *ngFor="let comment of userProfile.comments">
            <div class="comment-content">
                <div class="comment-wrapper">
                    <a [routerLink]="['/news-detail', comment.newsArticleId]" class="article-hyperlink">
                        <p>{{comment.content}}</p>
                        <p>Commented on: {{comment.createdOn | localDate }}</p>
                    </a>
                    <button class="delete-comment-btn"
                        (click)="deleteComment(comment.id, comment.newsArticleId)">DELETE</button>
                </div>
            </div>
        </div>
    </div>
</div>