<div *ngIf="newsDetail">
    <p>{{newsDetail.name}}</p>
    <p>{{newsDetail.username}}</p>
    <p>{{newsDetail.email}}</p>
    <p>{{newsDetail.address.city}}</p>
    <p>{{newsDetail.address.geo.lat}}</p>
    <button [routerLink]="['/news-detail', newsDetail.id - 1]" *ngIf="newsDetail.id - 1 > 0">Previous</button>
    <button [routerLink]="['/news-detail', newsDetail.id + 1]" *ngIf="newsDetail.id + 1 <= totalNews">Next</button>
</div>
<!-- <div *ngif="newsDetail === undefined">Please wait while we load this news article.</div> -->
<button type="button" routerLink="/recent-news">Back to recent news</button>
