.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #98e2fb;
}

.header-logo-wrapper{
  margin-left:10px;
}

.header-navigation-list,
.header-navigation-list div {
  display: flex;
}

.header-navigation-item {
  list-style: none;
  padding: 10px;
  margin: 0px 10px;
}

.navigation-item {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
