<section class="header-wrapper">
    <article class="header-logo-wrapper">
        <img src="../../../favicon.ico" alt="favIcon">
    </article>
    <article class="header-navigation">
        <ul class="header-navigation-list">
            <li class="header-navigation-item">
                <a href="" class="navigation-item">Placeholder</a>
            </li>
            <li class="header-navigation-item">
                <a href="" class="navigation-item">Placeholder</a>
            </li>
            <li class="header-navigation-item">
                <a href="" class="navigation-item">Placeholder</a>
            </li>
            <li class="header-navigation-item">
                <a href="" class="navigation-item">Placeholder</a>
            </li>
            <li class="header-navigation-item">
                <a href="" class="navigation-item">Placeholder</a>
            </li>
        </ul>
    </article>
</section>
