<section class="header-wrapper">
    <article class="header-logo-wrapper">
        <a routerLink="" class="home-logo-nav">
            <img src="../../../favicon.ico" alt="favIcon">
        </a>
    </article>
    <article class="header-navigation">
        <ul class="header-navigation-list">
            <div *ngIf="isLogged" class="logged-Nav-Items">
                <li class="header-navigation-item">
                    <a [routerLink]="['/profile', userId]" class="navigation-item">Profile</a>
                </li>
                <li class="header-navigation-item">
                    <a routerLink="/create-news" class="navigation-item">Create news</a>
                </li>
                <li class="header-navigation-item">
                    <a routerLink="/recent-news" class="navigation-item">Recent-news</a>
                </li>
                <li class="header-navigation-item">
                    <a (click)="logoutHandler()" class="navigation-item special">Logout</a>
                </li>
            </div>
            <div *ngIf="!isLogged" class="notLogged-Nav-Items">
                <li class="header-navigation-item">
                    <a routerLink="/login" class="navigation-item">Login</a>
                </li>
                <li class="header-navigation-item">
                    <a routerLink="/register" class="navigation-item">Register</a>
                </li>
            </div>
        </ul>
    </article>
</section>