.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #98e2fb;
}

.header-logo-wrapper {
  margin-left: 10px;
}

.header-navigation-list,
.header-navigation-list div {
  display: flex;
  align-items: center;
}

.header-navigation-item {
  list-style: none;
  padding: 10px;
  margin: 0px 10px;
}

.navigation-item {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.special {
  cursor: pointer;
}

.fa-bell {
  background: lightblue;
  border-radius: 50%;
  padding: 10px;
}

.has-messages {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  top: 20px;
}
