/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin:0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    background: rgb(251, 251, 251);
}

h1,h2,h3,h4,h5,h6{
    font-family: Georgia, sans-serif;
}
